<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <title>About</title>
  <link rel="icon" href="./assets/weather.png" type="image/x-icon">
</head>
<body>
  <div class="main-content">
    {{> header }} 
    <p>This website uses data from Weatherstack and MapBox.</p>
    <img src="./assets/robot.png" alt="Author's portrait" class="portrait">
  </div>
  {{> footer }}
</body>
</html>